/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */

.container {
    width: 70%;
    margin: auto;
}

.border {
    border: 1px dashed black;  
}

.padding {
    padding: 40px 0;
}
ul {
    list-style-type: none;
}

/* HEADER */

.header-top{
    background-color: #add8e6;
    padding: 0.85rem;
}

.header-bottom{
    background-color: #00008b;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #daa520;
    font-size: 1.5rem;
}

.link-section{
    flex-grow: 4;
}

.link {
    display: flex;
    justify-content: center;
    padding: 10px 10px ;
}

li{
    padding: 0 10px;
}

.logo, .login {
    flex-grow: 2;
    padding: 10px 10px;
}

.login{
    text-align: end;
    text-decoration: none;
    color: black;
}

/* BANNER */
.banner{
    background-color: #ee82ee;
    height: 300px;
    width: 50%;
}

hr{
    border: 2px solid #92b6d8;
}

/* MAIN */

.article {
    display: flex;
    background-color: yellow;
    height: 350px;
}
 .text {
    width: 60%;
    background-color: #1e90ff;
 }
 .image {
    width: 40%;
    background-color: #ffc0cb;
 }